.editor
  h1#h1 [h1] Main Heading
  h3#h3 [h3] Sub-heading
  p#p1 [p1] Some cool paragraph blah blah
  p#p2 [p2] More cool paragraph text www
  ul#ul1
    li#li1 [li1] Hello
    li#li2 [li2] Item 2
    li#li3 [li3] Item 3
  hr#hr1
  input(type="text" v-model="element")
  button(@click="highlight") Highlight Element(s)
  button(@click="remove") Remove Element(s)