@import 'reset';
@import 'bulma';

html, body {
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: #ffffff;
    font-family: "Segoe UI", sans-serif;

    > nav {
        background-color: #c9c9c9;
        color: #292929;
        padding: .5rem;
        margin-bottom: 0;

        i.fa {
            font-size: .8em;
        }
    }

    > main {
        position: relative;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        color: #292929;

        > div {
            position: absolute;
            display: inline-block;
            padding: 1rem;
            border-radius: 3px;
            border: 1px solid #c9c9c9;
        }
    }

    > footer {
        height: 2rem;
        background-color: #c9c9c9;
    }

}

.fade-enter-active, .fade-leave-active {
  transition: transform .3s ease-out, opacity .3s ease-out;
}
.fade-enter, .fade-leave-active {
  transform: translateY(-15%);
  opacity: 0;
}

form {
  width: 80vw;

  fieldset {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 3px;

    > legend {
      padding: 0 .5rem;
      font-weight: 700;
    }
  }
}