doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Webpack + Vue + SCSS + ES2015
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet")
  body
    #app
      nav.level
        .level-left
          .level-item
            router-link(to="/" exact).button.is-small.is-info
              span.icon
                i.fa.fa-home
              span Home
          .level-item
            router-link(to="/video" exact).button.is-small.is-info
              span.icon
                i.fa.fa-video-camera
              span Video
          .level-item
            router-link(to="/form" exact).button.is-small.is-info
              span.icon
                i.fa.fa-file-text
              span Form
          .level-item
            router-link(to="/league" exact).button.is-small.is-info
              span.icon
                i.fa.fa-trophy
              span League
          .level-item
            router-link(to="/flip" exact).button.is-small.is-info
              span.icon
                i.fa.fa-repeat
              span Flip
          .level-item
            router-link(to="/animation" exact).button.is-small.is-info
              span.icon
                i.fa.fa-picture-o
              span Animation
          .level-item
            router-link(to="/maths" exact).button.is-small.is-info
              span.icon
                i.fa.fa-plus
              span Maths
          .level-item
            router-link(to="/editor" exact).button.is-small.is-info
              span.icon
                i.fa.fa-code
              span Editor
          .level-item
            router-link(to="/calc" exact).button.is-small.is-info
              span.icon
                i.fa.fa-plus
              span Calc
        .level-right
      main
        transition(name="fade")
          router-view
      footer
