doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet")
  body
    #app
      nav.level
        .level-left
          .level-item
            router-link(to="/" exact).button.is-small.is-info
              span.icon
                i.fa.fa-home
              span Home
          .level-item
            router-link(to="/video" exact).button.is-small.is-info
              span.icon
                i.fa.fa-video-camera
              span Video
          .level-item
            router-link(to="/form" exact).button.is-small.is-info
              span.icon
                i.fa.fa-file-text
              span Form
        .level-right
      main
        transition(name="fade")
          router-view
      footer
